
nav.navbar-light a.navbar-brand {
    color: #f56b2a;
    font-family: sans-serif; */
    font-style: bold;
    font-size: 150%;
}

i {
  font-size:22px;
  padding-top: 10px;
  padding-right: 3px;
  padding-bottom: 5px;
}

#navbarTogglerDemo02 {
  display: flex;
  margin: auto;
  justify-content: flex-end;
  align-content: space-around;
}
#navbarTogglerDemo02 > ul.mr-auto {
  margin-right: 10px!important;
}
/* #navbarTogglerDemo02 > ul {
  margin-left: 100px!important;
} */
#navbarTogglerDemo02 > ul > li:nth-child(3) > a.nav-link {
  padding: 0;
  font-size: 15px;
  margin: auto;
}

#navbarTogglerDemo02 > ul > li:nth-child(4) > a.nav-link {
  padding: 0;
  font-size: 15px;
  margin: auto;
}

#navbarTogglerDemo02 > ul > li:nth-child(3) > a:nth-child(1) > i {
  padding-top: 6px;
  font-size: 22px;
  margin-left: 14px;
  margin-top: 5px;
}

#navbarTogglerDemo02 > ul > li:nth-child(4) > a:nth-child(1) > i {
  padding-top: 7px;
  font-size: 22px;
  margin-left: 10px;
  margin-top: 5px;
}

#staticEmail2 {
  padding-top: 20px;
  padding-left: 0px;
}

#navbarTogglerDemo02 > ul > li.nav-item.active > a {
  padding-top: 20px;
  padding-right: 0px;

}

#navbarTogglerDemo02 > ul > li:nth-child(3) {
  margin-right: 100px;
}

#navbarTogglerDemo02 > ul > li:nth-child(4) {
  margin-right: 48px;
}
#navbarTogglerDemo02 > ul > li:nth-child(4) > a.nav-link
